.ck {
  .ck-toolbar {
    border-radius: 4px 4px 0 0 !important;
  }

  .ck-editor__editable {
    border-radius: 0 0 4px 4px !important;
    box-shadow: unset !important;
  }

  .ck-list {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
      background: #efefef;
    }

    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
    }

    .ck-list__item .ck-button .ck-button__label {
      font-size: 14px !important;
    }
  }
}

.is-invalid .ck {
  .ck-toolbar {
    border-color: #dc3545;
  }

  &.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: #dc3545;
  }
}
